.vscode/
.meowconfig
builds/
build/
build*/
tests/
output/
out/
bin/
asts/
protos/
tokens/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
compile_commands.json

Testing/

*.o
*.a
*.so
*.dll
*.exe
*.out
*.zip
*.gz
*.tar
*.7z

*.go
*.cpp
*.c++
*.lua
*.c
*.py
*.h
*.hpp

*.meowb
*.meta

*.sh
*.bat

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.temp
meo